@if (!isLoading) {

  <div>
    <h1>Change info</h1>

    <form [formGroup]="editUserForm" (ngSubmit)="onEdit()">
      <input id="name" type="text" formControlName="name" placeholder="Name" required>
      <input id="email" type="email" formControlName="email" placeholder="Email" required>

      <div formGroupName="company">
        <input id="comp-name" type="text" formControlName="name" placeholder="Company name">
      </div>

      <button type="submit" [disabled]="!editUserForm.valid">Edit</button>
    </form>
  </div>

} @else {
  <div> Loading data...</div>
}
