<h1>Create new user</h1>

<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      matInput
      id="name"
      type="text"
      formControlName="name"
      placeholder="Name"
    >
    <mat-error *ngIf="createUserForm.get('name')?.invalid">
      {{ getNameErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <input
      matInput
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email"
    >
    <mat-error *ngIf="createUserForm.get('email')?.invalid">
      {{ getEmailErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <div formGroupName="company">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        matInput
        id="comp-name"
        type="text"
        formControlName="name"
        placeholder="Company name"
      >
    </mat-form-field>
  </div>

  <div class="btns-wrapper">
    <button type="submit" [disabled]="!createUserForm.valid">Submit</button>
    <button type="button" (click)="resetValues()">Reset</button>
  </div>
</form>
